<div class="container-sm">
  
  <div class="row">
    <div class="col-md">
      <h1>Posts</h1>
      <%= render 'feed' %>
    </div>
  </div>

  <br>

  <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-primary" %>  
</div>

