<p id="notice"><%= notice %></p>

<div class="container-sm">
  
  <div class="row">
    <div class="col-md">
      <h1>Posts</h1>
      <%= render 'feed' %>
    </div>
  </div>

  <br>

  <%= link_to 'New Post', new_post_path %>  
</div>

